@font-face{
    font-family: 'Bellota-Bold';
    src: url('../fonts/Bellota-Bold.otf');
}
.header_bar{
    width:100%;
    min-width: 1050px;
    height: 55px;
    background-color: white;
    margin: 0 0 10px -8px;
    display: inline-flex;
    position: fixed;
    box-shadow: 1px 1px 1px #000000;
    z-index: 10;
}
body{
    line-height: 17px;
    background-color: #EEEEEE;
}
a{
    color: #006AFF;
}
a:hover{
    color:#006AFF;
}
.nav-center{
    float: left;
    position: absolute;
    margin: 10px;
    margin-left: 50%
}
.dropdown{
    position: relative;
    display: inline-block;
    font-family: 'Bellota-Bold', sans-serif;
    font-size: 17px;
    color: black;
    text-align: center;
}
.dropdown img{
    width: 45px;
    margin-top: -5px;
    border-radius: 50px;
}
.dropdown-content{
    display:none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    padding: 12px 16px;
    z-index: 1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    font-family: 'Bellota-Bold', sans-serif;
}
.dropdown:hover .dropdown-content{
    display: block;
}
nav{
    float: right;
    position: absolute;
    text-decoration: none;
    right: 1px;
    margin: 18.5px;
}
nav a{
    position: relative;
    color: black;
    font-size: 17px;
    font-family: 'Bellota-Bold', sans-serif;
    text-decoration: none;
}
nav a:hover{
    text-decoration: none;
    width: 50%;
    border-bottom: 1px solid black;
    color: black;
}
.wrapper{
    margin: 0 auto;
    top: 53px;
    position: relative;
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}
.info-box{
    width: 35%;
    min-height: 170px;
    float: left;
    background: #fff;
    border-radius: 5px;
    overflow: auto;
    border: 1px solid #e3e3e3;
    margin-top: 30px;
}
.info-inner{
    overflow: hidden;
}
.info-in-head{
    width: 100%;
    background-color: #fff;
    background-size: cover;
    border-bottom: 1px solid #e3e3e3;
    overflow: hidden;
    height: 100px;
}
.info-in-head img {
    width: 100%;
    height: 100%;
}
.info-in-body{
    position: relative;
    height: 70px;
    top: -40px;
}
.in-b-img{
    width: 70px;
    float: left;
    overflow: hidden;
    position: relative;
    border-radius: 5px;
    border: 1px solid #ccc;
    height: 70px;
    top: 15px;
    left: 10px;
    margin-right: 15px;
}
.in-b-img img{
    width: 100%;
    height: 100%;
}
.info-body-name{
    width: 75%;
    position: relative;
    top: 50px;
    left: 8px;
}
.in-b-name div a{
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor: pointer;
}
.in-b-name div a:hover{
    text-decoration: underline;
}
.in-b-name span small a{
    text-decoration: none;
    color: #7D7D7D;
    font-size: 12px;
}
.info-in-footer{
    width: 100%;
    position: relative;
    top: -15px;
}
.number-wrapper{
    width: 96%;
    overflow: hidden;
    float: right;
}
.num-box{
    width: 78px;
    height: auto;
    float: left;
}
.num-head{
    font-size: 10px;
    color: #9b9b9b;
}
.num-body{
    font-size: 18px;
    color: #3875C5;
}



